{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}#}
    {#{{ form_widget(form) }}#}
    {#<div>#}
        {#<input type="submit" value="{{ 'profile.edit.submit'|trans }}" />#}
    {#</div>#}
{#{{ form_end(form) }}#}


{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {#HEADER#}
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {#CONTENT#}
    <div class="row">
        <div class="container-fluid content">
            <h1>EDIT YOUR PROFILE</h1>
            <br/>
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit form-horizontal', 'id': 'profile_edit_form' } }) }}
                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.username) }}
                        {{ form_errors(form.username) }}
                        {{ form_widget(form.username, { 'attr': { 'class': 'form-control' } } ) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } } ) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        {{ form_label(form.current_password) }}
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, { 'attr': { 'class': 'form-control' } }) }}
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-edit"></i>
                        {{ 'profile.edit.submit'|trans }}
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<br/>

{#FOOTER#}
{% include 'AppBundle:Default:_includes/_footer.html.twig' %}