{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {#HEADER#}
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {#CONTENT#}
    <div class="row">
        <div class="container-fluid content">
            <div class="row">
                <div class="col-xs-12">
                    <h1>PROFILE</h1>
                    <div class="fos_user_user_show">
                        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

{#FOOTER#}
{% include 'AppBundle:Default:_includes/_footer.html.twig' %}