<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h3>Site map</h3>
                <ul>
                    {% set route = app.request.attributes.get('_route') %}
                    {% if route == 'homepage_route' %}
                        {#HOME PAGE?#}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Lost Password?</a></li>
                        {% endif %}
                    {% elseif route == 'fos_user_security_login' %}
                        {#LOGIN PAGE?#}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% elseif route == 'fos_user_registration_register' %}
                        {#REGISTER PAGE?#}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                    {% elseif route == 'fos_user_profile_show' %}
                        {#PROFILE PAGE?#}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% elseif route == 'fos_user_profile_edit' %}
                        {#EDIT PROFILE PAGE?#}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% elseif route == 'fos_user_resetting_request' %}
                        {#RESET PASSWORD PAGE?#}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    {% elseif route == 'fos_user_registration_confirmed' %}
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    {% elseif route == 'fos_user_change_password' %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('homepage_route') }}">Home</a></li>
                            <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% elseif is_granted('ROLE_USER') %}
                            <li><a href="{{ path('homepage_route') }}">Home</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <h3>Latest threads</h3>
                <a href="{{ path('app_thread_route', {'id': 1}) }}">Thread 1</a><br/>
                <a href="{{ path('app_thread_route', {'id': 2}) }}">Thread 2</a>
            </div>
        </div>
    </div>
</footer>