{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% block fos_user_content %}#}
    {#<p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>#}
    {#{% if targetUrl %}#}
        {#<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>#}
    {#{% endif %}#}
{#{% endblock fos_user_content %}#}





{% extends "FOSUserBundle::layout.html.twig" %}

{%- block title -%}ACCOUNT CONFIRMATION{%- endblock -%}

{%- block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}">
{%- endblock -%}

{% trans_default_domain 'FOSUserBundle' %}

{%- block fos_user_content -%}
    <div class="container">
        {#HEADER#}
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('homepage_route') }}">Home</a></li>
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {#CONTENT#}
        <div class="row">
            <div class="container content">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                {% if targetUrl %}
                    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <br/>

    {#FOOTER#}
    {% include 'AppBundle:Default:_includes/_footer.html.twig' %}
{%- endblock fos_user_content -%}

{%- block javascripts -%}
    {{ parent() }}
{%- endblock -%}