{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}REGISTER{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}" />
{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
