{% extends "::base.html.twig" %}

{%- block title -%}Thread 1{%- endblock -%}

{%- block stylesheets -%}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}" />
{%- endblock -%}

{%- block body -%}
    <div class="container">
        {#HEADER#}
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="" class="nofollow">Hello, <b>{{ app.user.username }}</b></a></li>
                                <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            {% elseif is_granted('ROLE_USER') %}
                                <li><a href="" class="nofollow">Hello, <b>{{ app.user.username }}</b></a></li>
                                <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                                <li><a href="{{ path('fos_user_resetting_request') }}">Lost Password?</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {#CONTENT#}
        <div class="row">
            <div class="container-fluid content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>THREAD {{ id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br/>

    {#FOOTER#}
    {% include 'AppBundle:Default:_includes/_footer.html.twig' %}
{%- endblock -%}

{%- block javascripts -%}
    {{ parent() }}
{%- endblock -%}