{#{% extends "FOSUserBundle::layout.html.twig" %}#}

{#{% block title %}LOGIN{% endblock %}#}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{% block fos_user_content %}#}
{#{% if error %}#}
    {#<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#{% endif %}#}

{#<h1 class="text-center">LOGIN</h1>#}
{#<div class="container">#}
    {#<div class="pull-right">#}
        {#<a href="{{ path('homepage_route') }}">Home</a>#}
        {#<a href="{{ path('fos_user_registration_register') }}">Register</a>#}
    {#</div>#}
{#</div>#}

{#<div class="container">#}
    {#<div class="text-center">#}
        {#<div class="row">#}
            {#<form action="{{ path("fos_user_security_check") }}" method="post" id="login_form">#}
                {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>#}

                {#<div class="form-group">#}
                    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                    {#<input type="password" id="password" name="_password" required="required" />#}
                {#</div>#}

                {#<div class="for-group">#}
                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
                {#</div>#}

                {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-default" />#}
            {#</form>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

{#<div class="container">#}
    {#<div class="row">#}
        {#<div class="col-xs-12 col-md-8">#}
            {#<div class="pull-right">PULL-RIGHT</div>#}
        {#</div>#}
        {#<div class="col-xs-12 col-md-4">#}
            {#<div class="text-center">Home | Register</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

    {#&#123;&#35;<form action="{{ path("fos_user_security_check") }}" method="post" id="login_form">&#35;&#125;#}
    {#&#123;&#35;<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />&#35;&#125;#}

    {#&#123;&#35;<label for="username">{{ 'security.login.username'|trans }}</label>&#35;&#125;#}
    {#&#123;&#35;<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />&#35;&#125;#}

    {#&#123;&#35;<label for="password">{{ 'security.login.password'|trans }}</label>&#35;&#125;#}
    {#&#123;&#35;<input type="password" id="password" name="_password" required="required" />&#35;&#125;#}

    {#&#123;&#35;<input type="checkbox" id="remember_me" name="_remember_me" value="on" />&#35;&#125;#}
    {#&#123;&#35;<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>&#35;&#125;#}

    {#&#123;&#35;<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />&#35;&#125;#}
    {#&#123;&#35;</form>&#35;&#125;#}
{#{% endblock fos_user_content %}#}























{% extends "FOSUserBundle::layout.html.twig" %}

{%- block title -%}LOGIN{%- endblock -%}

{% trans_default_domain 'FOSUserBundle' %}

{%- block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}" />
{%- endblock -%}

{%- block fos_user_content -%}
    <div class="container">
        {#HEADER#}
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('homepage_route') }}">Home</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {#CONTENT#}
        <div class="row">
            <div class="container content">
                {#login error messages, when login fails#}
                <div class="row">
                    {% if error %}
                        <div class="col-xs-12 col-md-4 error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                </div>

                <br/>

                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" id="login_form">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label class="form-label" for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 col-md-4">
                            <label class="form-label" for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" class="form-control" id="password" name="_password" required="required" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs12 col-md-4">
                            <div class="pull-left">
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                <label class="form-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('fos_user_resetting_request') }}">Forgot password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            {#<input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
                            <button type="submit" class="btn btn-default" id="_submit" name="_submit">
                                <i class="fa fa-sign-in"></i>
                                {{ 'security.login.submit'|trans }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br/>

    {#FOOTER#}
    {% include 'AppBundle:Default:_includes/_footer.html.twig' %}
{%- endblock fos_user_content -%}

{%- block javascripts -%}
    {{ parent() }}
{%- endblock -%}