{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}RESET{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
