{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}

    {% autoescape false %}
        {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
    {% endautoescape %}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}{% endblock %}
