{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}ALREADY REQUESTED{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('custom/css/styles.css') }}" />
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
