{#{% trans_default_domain 'FOSUserBundle' %}#}

{#<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">#}
    {#<div>#}
        {#{% if invalid_username is defined %}#}
            {#<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>#}
        {#{% endif %}#}
        {#<label for="username">{{ 'resetting.request.username'|trans }}</label>#}
        {#<input type="text" id="username" name="username" required="required" />#}
    {#</div>#}
    {#<div>#}
        {#<input type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
    {#</div>#}
{#</form>#}






{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {#HEADER#}
    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage_route') }}">My Forum</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('homepage_route') }}">Home</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    {#CONTENT#}
    <div class="row">
        <div class="container-fluid content">
            <h1>RESET YOUR PASSWORD</h1>
            <br/>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal" id="reset_form">
                <div class="form-group">
                    <div class="col-xs-12 col-md-4">
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <label class="form-label" for="username">{{ 'resetting.request.username'|trans }}</label>
                        <input type="text" class="form-control" id="username" name="username" required="required" />
                    </div>
                </div>
                <div>
                    {#<input type="submit" value="{{ 'resetting.request.submit'|trans }}" />#}
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-undo"></i>
                        {{ 'resetting.request.submit'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<br/>

{#FOOTER#}
{% include 'AppBundle:Default:_includes/_footer.html.twig' %}