div.content{
    border-radius: 4px;
    border:1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.error-message{
    color:red;
}

footer.footer{
    background-color: #8db255;
    bottom: 0;
    padding: 10px;
    position: relative;
    width: 100%;
}

a.nofollow{
    pointer-events: none;
    cursor: none;
}

ol.breadcrumb > li + li:before{ content: "\00bb"; }

/* LARGE DESKTOPS */
@media screen and (min-width: 1200px){
    div.content{
        min-height: 580px;
    }
    
    footer.footer{
        min-height: 180px;
    }
}